/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

html,
button,
input,
select,
textarea {
  color: #333; }

ul, li {
  list-style: none;
  padding: 0; }

body {
  font-size: 1em;
  line-height: 1.4;
  background: #EBEBEB;
  color: #333; }

.text_orange {
  color: #fb9400; }

.text_dark {
  color: #666; }

.text_gray {
  color: #999999; }

.text_2em {
  line-height: 2em; }

a {
  color: #333; }

a:visited {
  color: #333; }

.icon_logo, .lend_logo, .icon_right_arrow, .icon_sub_title_1, .icon_sub_title_2, .icon_sub_title_3, .icon_product_title, .icon_lend_type_1, .icon_lend_type_2, .icon_lend_type_3, .icon_lend_type_4, .icon_lend_type_5, .icon_lend_type_6, .icon_lend_type_7, .icon_lend_type_8, .icon_lend_type_9, .icon_lend_type_10, .icon_my_list_1_large, .icon_my_list_2_large, .icon_my_list_3_large, .icon_my_list_1, .icon_my_list_2, .icon_my_list_3, .icon_empty {
  display: inline-block;
  background: transparent url(../img/icons.png) no-repeat;
  background-size: 245px; }

.icon_logo {
  width: 80px;
  height: 130px;
  background-position: 0 0; }

.lend_logo {
  width: 114px;
  height: 104px;
  background-position: 0 -140px; }

.icon_right_arrow {
  width: 16px;
  height: 9px;
  background-position: -120px -160px;
  -webkit-transform: rotate(-90deg);
  /* Safari */
  transform: rotate(-90deg);
  vertical-align: 1px; }

.icon_sub_title_1 {
  vertical-align: middle;
  margin-top: -4px;
  width: 30px;
  height: 30px;
  background-position: -120px 0px; }

.icon_sub_title_2 {
  vertical-align: middle;
  margin-top: -4px;
  width: 30px;
  height: 30px;
  background-position: -120px -40px; }

.icon_sub_title_3 {
  vertical-align: middle;
  margin-top: -4px;
  width: 30px;
  height: 30px;
  background-position: -120px -80px; }

.icon_product_title {
  width: 20px;
  height: 20px;
  background-position: -120px -120px;
  vertical-align: -3px; }

.icon_lend_type_1 {
  vertical-align: middle;
  margin-top: -4px;
  width: 30px;
  height: 30px;
  background-position: -160px 0px; }

.icon_lend_type_2 {
  vertical-align: middle;
  margin-top: -4px;
  width: 30px;
  height: 30px;
  background-position: -160px -40px; }

.icon_lend_type_3 {
  vertical-align: middle;
  margin-top: -4px;
  width: 30px;
  height: 30px;
  background-position: -160px -80px; }

.icon_lend_type_4 {
  vertical-align: middle;
  margin-top: -4px;
  width: 30px;
  height: 30px;
  background-position: -160px -120px; }

.icon_lend_type_5 {
  vertical-align: middle;
  margin-top: -4px;
  width: 30px;
  height: 30px;
  background-position: -160px -160px; }

.icon_lend_type_6 {
  vertical-align: middle;
  margin-top: -4px;
  width: 30px;
  height: 30px;
  background-position: -160px -200px; }

.icon_lend_type_7 {
  vertical-align: middle;
  margin-top: -4px;
  width: 30px;
  height: 30px;
  background-position: -160px -240px; }

.icon_lend_type_8 {
  vertical-align: middle;
  margin-top: -4px;
  width: 30px;
  height: 30px;
  background-position: -160px -280px; }

.icon_lend_type_9 {
  vertical-align: middle;
  margin-top: -4px;
  width: 30px;
  height: 30px;
  background-position: -160px -320px; }

.icon_lend_type_10 {
  vertical-align: middle;
  margin-top: -4px;
  width: 30px;
  height: 30px;
  background-position: -160px -360px; }

.icon_my_list_1_large {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  background-position: -200px 0px; }

.icon_my_list_2_large {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  background-position: -200px -60px; }

.icon_my_list_3_large {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  background-position: -200px -120px; }

.icon_my_list_1 {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-position: -200px -180px; }

.icon_my_list_2 {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-position: -200px -220px; }

.icon_my_list_3 {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-position: -200px -260px; }

.icon_empty {
  width: 75px;
  height: 75px;
  background-position: 0 -260px; }

.row:after, .mod_list .list_item:after, .mod_list .list_item .list_item_con:after, .my_list .my_item:after, .my_list .my_item .my_list_con:after, .status_block .status_list:after {
  content: '';
  clear: both;
  display: block;
  overflow: hidden; }

.form_row .input_text, .form_row .text_area {
  border: none;
  background: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

.tab_title_block .tab_btn, .form_row .text_area {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.slider_wrap .slider_labels ul {
  display: box;
  display: -ms-box;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex; }

.slider_wrap .slider_labels ul li {
  display: block;
  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -webkit-box-flex: 1; }

.none {
  display: none !important; }

.my_list .my_item .title, .my_list .my_item .desc, .my_head .row_con {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.mod_layer_cover .alert_layer {
  position: absolute;
  left: 50%;
  top: 50%; }

.status_block .status_list .status_item {
  position: relative; }
  .status_block .status_list .status_item::before, .status_block .status_list .status_item::after {
    position: absolute;
    display: block;
    content: ''; }

.dot_list li {
  position: relative; }
  .dot_list li::before {
    position: absolute;
    display: block;
    content: ''; }

.border_1px {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  background: #333;
  position: relative; }
  .border_1px:after {
    content: "";
    background: #565657;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(1, 0.5);
    -webkit-transform: scale(1, 0.5); }

.btn_row {
  padding: 1px 0;
  margin: 0 15px; }

.mod_btn {
  display: block;
  width: 100%;
  border: 0 none;
  margin: 15px 0;
  padding: 0;
  border-radius: 4px;
  height: 46px;
  line-height: 46px;
  color: #FFF;
  background: #fb9400; }
  .mod_btn.btn_disabled {
    background: #999; }

.mod_layer_cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; }
  .mod_layer_cover .alert_layer {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: white;
    width: 280px;
    margin-left: -140px;
    margin-top: -200px; }
    .mod_layer_cover .alert_layer .title {
      font-size: 20px;
      font-weight: bold;
      line-height: 2;
      text-align: center; }
    .mod_layer_cover .alert_layer .con {
      text-align: center;
      color: #999;
      padding: 10px; }
    .mod_layer_cover .alert_layer .layer_btn_row {
      height: 50px;
      line-height: 50px;
      -webkit-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
      border-top: solid 1px #ccc; }
    .mod_layer_cover .alert_layer .btn {
      height: 50px;
      line-height: 50px;
      border: 0 none;
      background: white;
      color: #0063cf;
      width: 50%;
      float: left;
      text-align: center; }
      .mod_layer_cover .alert_layer .btn:first-child {
        -webkit-border-radius: 0 0 0 5px;
        border-radius: 0 0 0 5px;
        margin-right: -1px; }
      .mod_layer_cover .alert_layer .btn:last-child {
        -webkit-border-radius: 0 0 5px 0;
        border-radius: 0 0 5px 0;
        border-left: solid 1px #ccc; }

.tab_title_block {
  margin: 15px 27px 10px;
  height: 36px;
  -webkit-border-radius: 17px;
  border-radius: 17px; }
  .tab_title_block .tab_btn {
    display: block;
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    text-align: center;
    width: 50%;
    float: left;
    color: #0063cf;
    border: solid 1px #0063cf; }
    .tab_title_block .tab_btn.cur {
      background: #0063cf;
      color: #FFF; }
    .tab_title_block .tab_btn:first-child {
      -webkit-border-radius: 17px 0 0 17px;
      border-radius: 17px 0 0 17px; }
    .tab_title_block .tab_btn:last-child {
      -webkit-border-radius: 0 17px 17px 0;
      border-radius: 0 17px 17px 0; }

.post_block {
  background: white;
  margin: 10px 0;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc; }
  .post_block .form_row {
    margin: 0 10px; }

.page_block_1 {
  background: white;
  margin: 10px 0;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc; }
  .page_block_1 .sub_title {
    color: #fb9400;
    height: 59px;
    line-height: 62px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid #ebebeb 1px; }
  .page_block_1 .text_block {
    padding: 15px; }
    .page_block_1 .text_block p {
      text-indent: 2em;
      margin: 5px 0; }

.fixed_foot {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  z-index: 10; }

.page_block {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: white;
  margin: 10px; }
  .page_block .logo_wrap {
    text-align: center;
    padding: 13px 0; }
  .page_block .sub_title {
    height: 59px;
    line-height: 62px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid #ebebeb 1px; }
  .page_block .text_block {
    padding: 10px; }
    .page_block .text_block p {
      text-indent: 2em;
      margin: 5px 0; }
    .page_block .text_block .vision_strong {
      font-size: 16px; }
    .page_block .text_block .vision_list {
      color: #999; }
  .page_block .lend_logo_wrap {
    text-align: center;
    padding: 13px 0;
    position: relative;
    height: 130px; }
    .page_block .lend_logo_wrap .logo_text {
      display: block;
      width: 110px;
      height: 30px;
      line-height: 32px;
      color: #FFF;
      text-align: center;
      font-size: 16px;
      position: absolute;
      left: 50%;
      top: 85px;
      margin-left: -55px; }
    .page_block .lend_logo_wrap .logo_title {
      display: block;
      width: 110px;
      height: 30px;
      line-height: 32px;
      color: #000;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      position: absolute;
      left: 50%;
      top: 115px;
      margin-left: -55px; }

.dot_list li {
  padding-left: 13px; }
  .dot_list li:before {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #DFDFDF;
    left: 0;
    top: 3px; }

.mod_list {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 0 0 0 15px;
  background: #FFF;
  margin: 10px 0; }
  .mod_list .list_item {
    border-bottom: solid 1px #ccc; }
    .mod_list .list_item .list_item_con {
      margin: 10px 0;
      position: relative; }
    .mod_list .list_item:last-child {
      border-bottom: 0 none; }
  .mod_list .lend_list_title {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px; }
  .mod_list .lend_list_text {
    font-size: 12px;
    margin-top: 10px;
    color: #666; }

.page_apply {
  padding-top: 10px; }

.apply_title {
  height: 32px;
  line-height: 32px;
  margin: 0 15px;
  color: #999999; }

.form_row {
  min-height: 45px;
  line-height: 46px;
  position: relative; }
  .form_row .form_title {
    color: #666;
    width: 66px;
    position: absolute;
    left: 0;
    top: 0; }
  .form_row .form_con {
    margin: 0 40px 0 76px;
    min-height: 45px;
    position: relative; }
  .form_row .form_extra {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    text-align: center; }
  .form_row .input_text {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    outline: none; }
  .form_row .text_area {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    line-height: 1.4em;
    border: 0 none;
    outline: none; }

.drop_down {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: -40px;
  height: 45px;
  overflow: hidden;
  background: white; }
  .drop_down:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 45px;
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAASCAYAAAA6yNxSAAAAg0lEQVR42mNgGGiQlpamB8Q7gViIjnYKQe3UY4Ay/gPxOXo4Amr5OaidO9EFaOoInHbRwxEE7aClI4g2mxaOINlMajqCbLOo4QiKzaDEAKqFIjkGUT0dkWIgzXISMQbTvCzBZwHdSlNsFtGzKMfmiItQTLfKDJsj6Gs5miOOQTHZlgMAR78JmMBzEhcAAAAASUVORK5CYII=) no-repeat center center;
    background-size: 16px 9px;
    top: 0;
    right: 0;
    z-index: 1; }
  .drop_down select {
    border: 0 none;
    height: 45px;
    width: 120%;
    padding: 0 5px;
    background: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    outline: none; }

.slider_wrap {
  padding: 20px 20px 20px 0; }
  .slider_wrap .noUi-horizontal {
    height: 5px; }
    .slider_wrap .noUi-horizontal .noUi-handle {
      width: 32px;
      height: 32px;
      left: -16px;
      top: -14px;
      border-radius: 16px;
      box-shadow: none; }
      .slider_wrap .noUi-horizontal .noUi-handle:before, .slider_wrap .noUi-horizontal .noUi-handle:after {
        display: none; }
  .slider_wrap .noUi-background {
    background: #D5D5D5;
    box-shadow: none; }
  .slider_wrap .noUi-connect {
    background: #fb9400;
    box-shadow: none; }
  .slider_wrap .noUi-target {
    border-radius: 8px;
    border: 0 none;
    box-shadow: none; }
  .slider_wrap .noUi-target.noUi-connect {
    box-shadow: none; }
  .slider_wrap .slider_labels {
    margin: 0 -20px;
    line-height: 1; }
    .slider_wrap .slider_labels ul li {
      text-align: center; }
      .slider_wrap .slider_labels ul li.active {
        color: #fb9400; }

.post_banner {
  width: 100%;
  height: 110px;
  text-align: center; }
  .post_banner.banner_1 {
    background: #F2523D; }
  .post_banner.banner_2 {
    background: #6DC25F; }
  .post_banner .banner_img {
    height: 110px;
    margin: 0 auto; }

.my_list {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 0;
  background: #FFF;
  margin: 10px 0; }
  .my_list .my_item {
    position: relative;
    overflow: hidden; }
    .my_list .my_item .my_list_icon {
      height: 58px;
      width: 58px;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center; }
      .my_list .my_item .my_list_icon i {
        margin-top: 14px; }
    .my_list .my_item .my_list_con {
      margin: 9px 85px 9px 68px;
      height: 40px;
      overflow: hidden;
      position: relative; }
    .my_list .my_item .desc {
      color: #999; }
    .my_list .my_item .my_list_extra {
      height: 58px;
      width: 75px;
      position: absolute;
      right: 0;
      top: 0;
      line-height: 58px; }

.my_head {
  width: 100%;
  padding: 25px 15px;
  height: 60px;
  text-align: center; }
  .my_head.head_1 {
    background: #FB9400; }
  .my_head.head_2 {
    background: #6DC25F; }
  .my_head.head_3 {
    background: #F2523D; }
  .my_head .icon_wrap {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 15px;
    top: 32px; }
  .my_head .head_info {
    height: 60px;
    margin-left: 60px; }
  .my_head .row {
    height: 20px;
    line-height: 20px;
    position: relative; }
  .my_head .row_title {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    text-align: right;
    color: rgba(255, 255, 255, 0.7); }
  .my_head .row_con {
    margin-left: 80px;
    margin-right: 20px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #FFF; }

.status_block {
  margin: 15px; }
  .status_block .title {
    line-height: 2em;
    color: #666; }
  .status_block .status_list {
    margin-top: 10px; }
    .status_block .status_list .status_item {
      height: 30px;
      padding-left: 40px;
      margin-bottom: 15px; }
      .status_block .status_list .status_item:after {
        z-index: 10;
        left: 0;
        top: 3px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        background: #6dc25f url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAaCAQAAAB4Z0aJAAAA0klEQVQ4y83UPQ5BQRiF4aMgfgqJxB6sxgZoFAqFRiEqzW2sQWERFqAXjUQhUYhKIZFoRXgViivuzL0zRuG035mnmJl80pehzZYHB/r6mhgRZxBOwCmcAH5AcPYlBiQT+RE9AzEnH04U/oBYUHyvVGhQ9SbKcSFHxBW4MaVkJDoZhMTQOnrNW9wzCIlj2tiJkNIqjoTEzlYzEkvjA9A0X5sHYX3AtRdhZfwIJyabSPyXz6ycCMu6eWVDPWxr+RKSxDiYkCQmwYQk0WUPXJhRczvxBNhapxIGF4cAAAAAAElFTkSuQmCC) no-repeat center center;
        background-size: 17px; }
      .status_block .status_list .status_item:before {
        z-index: 1;
        width: 2px;
        height: 20px;
        left: 14px;
        top: -15px;
        background: #6dc25f; }
      .status_block .status_list .status_item:first-child:before {
        display: none; }
      .status_block .status_list .status_item.current:after {
        background: #e8e8e8 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAACG0lEQVR4AZ3UA4wmdxjA4Tfp5Iw4tYPzXVjbtm27jc0qqG3bDWvbNoIa59vdp3gz307m2/n0/IPhbzzRxHpOdoe3/WqZZX71tjucYr3oncIhXtbkVYcpojs7+Vw3n9s5OjHZjaqWetUdLnWp271qqaqbTG7KrOJdpSF32dGEqDDBju4ypPSeVaOdVX2hdL/1o4H13af0hdXqq6d4T/rbAbV1K0WNA/wtvWdKVLlN+tmC2hN80pDLo8YCP0u3xSi7SX+VmZINpTWjxnx/SXtEMs7X0j5RYwtpfrSxj/SNcbngSOmeiF5DyV3SsTn7Nlhuzb5Da1oO3okIM6VbI/oJJTdJc8KZ0jYDhbaUzgkPgoXGDRQqLAQPhY/Bc5GaQsfYohw2NTVaPAM+jSy6rjnUzuvR4hqwJKSL+wotjxYXAIOFnhgrtAhc2xCaYn7bmK2IFleXl/YpeDYG5Gnw+ejjL2IACn+CR8I50pYxAFtI54W50o0xADdI8yLCu40fbRdWtRx8kLMnSLdHn9wmnZCz43wr7Rl9sIf0o/H1f90f5kSPzPa7tO9Y/7ofzOkx84N0X1SZ6iPpj+4XaE+/S5+YXl+5uh+Ubm9+gtZwu9IP7dtl6iOl5W60pSIqFLZ0o+VKHzcezlR3qVroGde4yIWu8YyFqu7Ni2pkL9/q5lv7RnfGOc47mrzrBOOid2Y7x4M+thAs9IkHnWNONPgH0j/jYAUJIj4AAAAASUVORK5CYII=) no-repeat center center;
        background-size: 18px; }
      .status_block .status_list .status_item.current:before {
        background: #E8E8E8; }
  .status_block .time {
    line-height: 1;
    font-size: 12px;
    color: #999999; }

.my_page_empty {
  text-align: center;
  color: #999;
  line-height: 2em;
  padding: 200px 0 0; }
