%clearfix,
%clear{
  &:after{
    content: '';
    clear: both;
    display: block;
    overflow: hidden;
  }
}
// 清除表单样式
%input_clear {
  border: none;
  background: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
// 圆角
@mixin radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

// flex 布局
%border_box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

%box{
  display: box;
  display: -ms-box;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}
%flex{
  display: block;
  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -webkit-box-flex: 1;
}

.none{
  display: none!important;
}


%text_oneline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%text_twoline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


%m_center{
  position: absolute;
  left: 50%;
  top: 50%;
}

%has_pseudo{
  position: relative;
  &::before,
  &::after {
    position: absolute; display: block; content: '';
  }
}

%has_before{
  position: relative;
  &::before{
    position: absolute; display: block; content: '';
  }
}

%has_after{
  position: relative;
  &::after{
    position: absolute; display: block; content: '';
  }
}

// 1px border
.border_1px{
  display:block;
  height:40px;
  line-height:40px;
  text-align:center;
  color:white;
  background:#333;
  position:relative;
  &:after{
    content:"";
    background:#565657;
    height:1px;
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    transform: scale(1, 0.5);
    -webkit-transform: scale(1, 0.5);
  }
}