@charset "utf-8";

%icon_common{
  display: inline-block;
  background: transparent url(../img/icons.png) no-repeat;
  background-size: 245px;
}

@mixin gen_icon($w,$h,$l,$t){
  @extend %icon_common;
  width: $w/2;
  height: $h/2;
  background-position: $l/2 $t/2;
}

.icon_logo{
  @include gen_icon(160px,260px,0,0);
}
.lend_logo{
  @include gen_icon(228px,208px,0,-280px);
}
.icon_right_arrow{
  @include gen_icon(32px,18px,-240px,-320px);
  -webkit-transform: rotate(-90deg); /* Safari */
  transform: rotate(-90deg);
  vertical-align: 1px;
}

@for $i from 0 through 2 {
  .icon_sub_title_#{$i+1} {
    vertical-align: middle;
    margin-top: -4px;
    @include gen_icon(60px,60px,-240px,0px - $i * 80);
  }
}
//.icon_sub_title_1{
//  @include gen_icon(60px,60px,-240px,0);
//}
.icon_product_title{
  @include gen_icon(40px,40px,-240px,-240px);

  vertical-align: -3px;
}

@for $i from 0 through 9 {
  .icon_lend_type_#{$i+1} {
    vertical-align: middle;
    margin-top: -4px;
    @include gen_icon(60px,60px,-320px,0px - $i * 80);
  }
}
//.icon_lend_type_1{
//  @include gen_icon(60px,60px,-320px,0);
//}


@for $i from 0 through 2 {
  .icon_my_list_#{$i+1}_large {
    vertical-align: middle;
    @include gen_icon(90px,90px,-400px,0px - $i * 120);
  }
}
@for $i from 0 through 2 {
  .icon_my_list_#{$i+1} {
    vertical-align: middle;
    @include gen_icon(60px,60px,-400px,-360px - $i * 80);
  }
}
//.icon_my_list_1{
//  @include gen_icon(90px,90px,-400px,0);
//}

.icon_empty{
  @include gen_icon(150px,150px,0,-520px);
}