@charset "UTF-8";

@import "reset";
@import "icons";
@import "function";

.btn_row{
  padding: 1px 0;
  margin:0 15px;
}
.mod_btn{
  display: block;
  width: 100%;
  border:0 none;
  margin:15px 0;
  padding: 0;
  border-radius: 4px;
  height: 46px;
  line-height: 46px;
  color:#FFF;
  background: $color_orange;
  &.btn_disabled{
    background: #999;
  }
}

.mod_layer_cover{
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: transparentize(#000,.5);
  z-index: 999;

  .alert_layer{
    @include radius(5px);
    background: white;
    width: 280px;
    @extend %m_center;
    margin-left:-140px;
    margin-top:-200px;

    .title{
      font-size: 20px;
      font-weight: bold;
      line-height: 2;
      text-align: center;
    }
    .con{
      text-align: center;
      color:#999;
      padding: 10px;
    }
    .layer_btn_row{
      height: 50px;
      line-height: 50px;
      @include radius(0 0 5px 5px);
      border-top:solid 1px #ccc;
    }
    .btn{
      height: 50px;
      line-height: 50px;
      border:0 none;
      background: white;
      color:$color_blue;
      width: 50%;
      float:left;
      text-align: center;
      &:first-child{
        @include radius(0 0 0 5px);
        margin-right: -1px;
      }
      &:last-child{
        @include radius(0 0 5px 0);
        border-left: solid 1px #ccc;
      }
    }
  }
}

.tab_title_block{
  margin:15px 27px 10px;
  height: 36px;
  @include radius(17px);
  .tab_btn{
    display: block;
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    text-align: center;
    width: 50%;
    float: left;
    color:$color_blue;
    border:solid 1px $color_blue;
    @extend %border_box;
    &.cur{
      background: $color_blue;
      color:#FFF;
    }
    &:first-child{
      @include radius(17px 0 0 17px);
    }
    &:last-child{
      @include radius(0 17px 17px 0);
    }
  }
}
.post_block{
  background: white;
  margin:10px 0;
  border-top:solid 1px #ccc;
  border-bottom:solid 1px #ccc;
  .form_row{
    margin:0 10px;
  }
}
.page_block_1{
  background: white;
  margin:10px 0;
  border-top:solid 1px #ccc;
  border-bottom:solid 1px #ccc;
  .sub_title{
    color:$color_orange;
    height: 59px;
    line-height: 62px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid $bg_gray 1px;
  }
  .text_block{
    padding:15px;
    p{
      text-indent: 2em;
      margin:5px 0;
    }
  }
}
.fixed_foot{
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  margin-bottom: 0;
  z-index: 10;
}
.page_block{
  @include radius(4px);
  background: white;
  margin:10px;
  .logo_wrap{
    text-align: center;
    padding:13px 0;
  }

  .sub_title{
    height: 59px;
    line-height: 62px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid $bg_gray 1px;
  }

  .text_block{
    padding:10px;
    p{
      text-indent: 2em;
      margin:5px 0;
    }
    .vision_strong{
      font-size: 16px;
    }
    .vision_list{
      color:#999;
    }
  }

  .lend_logo_wrap{
    text-align: center;
    padding:13px 0;
    position: relative;
    height: 130px;
    .logo_text{
      display: block;
      width: 110px;
      height: 30px;
      line-height: 32px;
      color:#FFF;
      text-align: center;
      font-size: 16px;

      position: absolute;
      left: 50%;
      top:85px;
      margin-left: -55px;
    }
    .logo_title{
      display: block;
      width: 110px;
      height: 30px;
      line-height: 32px;
      color:#000;
      text-align: center;
      font-size: 18px;
      font-weight: bold;

      position: absolute;
      left: 50%;
      top:115px;
      margin-left: -55px;
    }
  }
}

.row{
  @extend %clearfix;
}
.dot_list{
  li{
    padding-left: 13px;
    @extend %has_before;
    &:before{
      width: 8px;
      height: 8px;
      @include radius(4px);
      background: #DFDFDF;
      left:0;
      top:3px;
    }
  }
}

.mod_list{
  border-top:solid 1px #ccc;
  border-bottom:solid 1px #ccc;
  padding: 0 0 0 15px;
  background: #FFF;
  margin:10px 0;
  .list_item{
    @extend %clearfix;
    border-bottom:solid 1px #ccc;
    .list_item_con{
      margin:10px 0;
      @extend %clearfix;
      position: relative;
    }
    &:last-child{
      border-bottom: 0 none;
    }
  }
  .lend_list_title{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
  }
  .lend_list_text{
    font-size: 12px;
    margin-top: 10px;
    color:#666;
  }
}


.page_apply{
  padding-top: 10px;
}
.apply_title{
  height: 32px;
  line-height: 32px;
  margin:0 15px;
  color:$color_gray;
}
.form_row{
  min-height: 45px;
  line-height: 46px;
  position: relative;
  .form_title{
    color:#666;
    width: 66px;
    position: absolute;
    left:0;
    top:0;
  }
  .form_con{
    margin:0 40px 0 76px;
    min-height: 45px;
    position: relative;
  }
  .form_extra{
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    width:40px;
    text-align: center;
  }
  .input_text{
    @extend %input_clear;
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    outline: none;
  }
  .text_area{
    width: 100%;
    height: 100px;
    @extend %input_clear;
    @extend %border_box;
    margin-top:10px;
    line-height: 1.4em;
    border:0 none;
    outline: none;
  }
}
.drop_down{
  display:block;
  //position:relative;
  position: absolute;
  left:0;
  top:0;
  right:-40px;

  height:45px;
  overflow:hidden;
  background:white;
  &:after{
    content:"";
    position:absolute;
    width:40px;
    height:45px;
    background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAASCAYAAAA6yNxSAAAAg0lEQVR42mNgGGiQlpamB8Q7gViIjnYKQe3UY4Ay/gPxOXo4Amr5OaidO9EFaOoInHbRwxEE7aClI4g2mxaOINlMajqCbLOo4QiKzaDEAKqFIjkGUT0dkWIgzXISMQbTvCzBZwHdSlNsFtGzKMfmiItQTLfKDJsj6Gs5miOOQTHZlgMAR78JmMBzEhcAAAAASUVORK5CYII=) no-repeat center center;
    background-size:16px 9px;
    top:0;
    right:0;
    z-index:1;
  }
  select {
    border: 0 none;
    height: 45px;
    width:120%;
    padding:0 5px;
    background: transparent;
    border-radius:0;
    -webkit-border-radius:0;
    -webkit-appearance:none;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    outline: none;
  }
}

.slider_wrap{
  padding: 20px 20px 20px 0;
  .noUi-horizontal{
    height: 5px;
    .noUi-handle {
      width: 32px;
      height: 32px;
      left: -16px;
      top: -14px;
      border-radius: 16px;
      box-shadow: none;
      &:before,&:after{
        display: none;
      }
    }
  }
  .noUi-background {
    background: #D5D5D5;
    box-shadow: none;
  }
  .noUi-connect {
    background: $color_orange;
    box-shadow: none;
  }
  .noUi-target {
    border-radius: 8px;
    border: 0 none;
    box-shadow: none;
  }
  .noUi-target.noUi-connect {
    box-shadow: none;
  }

  .slider_labels{
    margin:0 -20px;
    line-height: 1;
    ul{
      @extend %box;
      li{
        @extend %flex;
        text-align: center;
        &.active{
          color:$color_orange;
        }
      }
    }
  }
}

.post_banner{
  width: 100%;
  height: 110px;
  text-align: center;
  &.banner_1{
    background: #F2523D;
  }
  &.banner_2{
    background: #6DC25F;
  }
  .banner_img{
    height: 110px;
    margin:0 auto;
  }
}

.my_list{
  border-top:solid 1px #ccc;
  border-bottom:solid 1px #ccc;
  padding: 0;
  background: #FFF;
  margin:10px 0;
  .my_item{
    @extend %clearfix;
    position: relative;
    overflow: hidden;
    .my_list_icon{
      height: 58px;
      width: 58px;
      position: absolute;
      left:0;
      top:0;
      text-align: center;
      i{
        margin-top: 14px;
      }
    }
    .my_list_con{
      margin:9px 85px 9px 68px;
      height: 40px;
      overflow: hidden;
      @extend %clearfix;
      position: relative;
    }
    .title{
      @extend %text_oneline;
    }
    .desc{
      @extend %text_oneline;
      color:#999;
    }
    .my_list_extra{
      height: 58px;
      width: 75px;
      position: absolute;
      right:0;
      top:0;
      line-height: 58px;
    }

  }
}

.my_head{
  width: 100%;
  padding: 25px 15px;
  height: 60px;
  text-align: center;
  &.head_1{
    background: #FB9400;
  }
  &.head_2{
    background: #6DC25F;
  }
  &.head_3{
    background: #F2523D;
  }
  .icon_wrap{
    width: 45px;
    height:45px;
    position: absolute;
    left:15px;
    top:32px;
  }
  .head_info{
    height: 60px;
    margin-left: 60px;
  }
  .row{
    height: 20px;
    line-height: 20px;
    position: relative;
  }
  .row_title{
    position: absolute;
    left:0;
    top:0;
    width: 80px;
    text-align: right;
    color:transparentize(#FFF,.3);
  }
  .row_con{
    margin-left: 80px;
    margin-right: 20px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    @extend %text_oneline;
    color:#FFF;
  }
}

.status_block{
  margin:15px;
  .title{
    line-height: 2em;
    color:#666;
  }
  .status_list{
    margin-top: 10px;
    @extend %clearfix;
    .status_item{
      height: 30px;
      padding-left: 40px;
      margin-bottom: 15px;
      @extend %has_pseudo;
      &:after{
        z-index: 10;
        left:0;
        top:3px;
        @include radius(15px);
        width: 30px;
        height: 30px;
        background: $color_green url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAaCAQAAAB4Z0aJAAAA0klEQVQ4y83UPQ5BQRiF4aMgfgqJxB6sxgZoFAqFRiEqzW2sQWERFqAXjUQhUYhKIZFoRXgViivuzL0zRuG035mnmJl80pehzZYHB/r6mhgRZxBOwCmcAH5AcPYlBiQT+RE9AzEnH04U/oBYUHyvVGhQ9SbKcSFHxBW4MaVkJDoZhMTQOnrNW9wzCIlj2tiJkNIqjoTEzlYzEkvjA9A0X5sHYX3AtRdhZfwIJyabSPyXz6ycCMu6eWVDPWxr+RKSxDiYkCQmwYQk0WUPXJhRczvxBNhapxIGF4cAAAAAAElFTkSuQmCC) no-repeat center center;
        background-size: 17px;
      }
      &:before{
        z-index: 1;
        width: 2px;
        height: 20px;
        left:14px;
        top:-15px;
        background: $color_green;
      }
      &:first-child{
        &:before{
          display: none;
        }
      }
      &.current{
        &:after{
          background: #E8E8E8 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAACG0lEQVR4AZ3UA4wmdxjA4Tfp5Iw4tYPzXVjbtm27jc0qqG3bDWvbNoIa59vdp3gz307m2/n0/IPhbzzRxHpOdoe3/WqZZX71tjucYr3oncIhXtbkVYcpojs7+Vw3n9s5OjHZjaqWetUdLnWp271qqaqbTG7KrOJdpSF32dGEqDDBju4ypPSeVaOdVX2hdL/1o4H13af0hdXqq6d4T/rbAbV1K0WNA/wtvWdKVLlN+tmC2hN80pDLo8YCP0u3xSi7SX+VmZINpTWjxnx/SXtEMs7X0j5RYwtpfrSxj/SNcbngSOmeiF5DyV3SsTn7Nlhuzb5Da1oO3okIM6VbI/oJJTdJc8KZ0jYDhbaUzgkPgoXGDRQqLAQPhY/Bc5GaQsfYohw2NTVaPAM+jSy6rjnUzuvR4hqwJKSL+wotjxYXAIOFnhgrtAhc2xCaYn7bmK2IFleXl/YpeDYG5Gnw+ejjL2IACn+CR8I50pYxAFtI54W50o0xADdI8yLCu40fbRdWtRx8kLMnSLdHn9wmnZCz43wr7Rl9sIf0o/H1f90f5kSPzPa7tO9Y/7ofzOkx84N0X1SZ6iPpj+4XaE+/S5+YXl+5uh+Ubm9+gtZwu9IP7dtl6iOl5W60pSIqFLZ0o+VKHzcezlR3qVroGde4yIWu8YyFqu7Ni2pkL9/q5lv7RnfGOc47mrzrBOOid2Y7x4M+thAs9IkHnWNONPgH0j/jYAUJIj4AAAAASUVORK5CYII=) no-repeat center center;
          background-size: 18px;
        }
        &:before{
          background: #E8E8E8;
        }
      }
    }
  }
  .time{
    line-height: 1;
    font-size: 12px;
    color:$color_gray;
  }
}

.my_page_empty{
  text-align: center;
  color:#999;
  line-height: 2em;
  padding: 200px 0 0;
}